<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- add entry to enable component scanning -->
	<!-- <context:component-scan base-package="com.luv2code.springdemo" /> -->

	<!-- "context:component-scan" scans base package and all its sub-package.
		Here com is a base package and luv2code and springdemo are its sub-package.
		Either of above one or below one, both works fine -->
	<context:component-scan base-package="com" />


</beans>